
quickcheck/target/resolution-cache/progfun-quickcheck/progfun-quickcheck_2.10/1.0.0/resolved.xml.properties

quickcheck/target/.history

quickcheck/target/resolution-cache/progfun-quickcheck/progfun-quickcheck_2.10/1.0.0/resolved.xml.xml

quickcheck/.settings/org.scala-ide.sdt.core.prefs

quickcheck/target/resolution-cache/reports/ivy-report.css

quickcheck/target/resolution-cache/reports/ivy-report.xsl

quickcheck/target/resolution-cache/reports/progfun-quickcheck-progfun-quickcheck_2.10-compile-internal.xml

quickcheck/target/resolution-cache/reports/progfun-quickcheck-progfun-quickcheck_2.10-compile.xml

quickcheck/target/resolution-cache/reports/progfun-quickcheck-progfun-quickcheck_2.10-docs.xml

quickcheck/target/resolution-cache/reports/progfun-quickcheck-progfun-quickcheck_2.10-optional.xml

quickcheck/target/resolution-cache/reports/progfun-quickcheck-progfun-quickcheck_2.10-plugin.xml

*.xml

quickcheck/target/scala-2.10/cache/assignment/compile/copy-resources

quickcheck/target/scala-2.10/cache/assignment/compile/for_packageSubmission/inputs

quickcheck/target/scala-2.10/cache/assignment/compile/for_packageSubmission/output

quickcheck/target/scala-2.10/cache/assignment/compile/inc_compile

quickcheck/target/scala-2.10/cache/assignment/global/update/output

*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
